In [31]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
g = nx.DiGraph()

In [4]:
g.add_node(17)

In [5]:
g.add_edge(23,48)

In [6]:
17 in g.nodes()

True

In [12]:
g.node[17]['ICAO'] = 'SIN'

In [13]:
g.node[17]

{'ICAO': 'SIN'}

In [42]:
# nx.draw_random(g)
# pos=nx.draw_circular(g)
# nx.draw_networkx_labels(g,pos)
nx.write_gexf(g,"test.gexf")

In [27]:
route = pd.read_csv('routes.dat',header=0)
airport = pd.read_csv('airports.dat')
airline = pd.read_csv('airlines.dat')

In [30]:
airline_fieldnames = ['id','name','alias','iata','icao','callsign','country','active']
airport_fieldnames = ['id','name','city','country','iata_faa','icao','latitude','longitude'
                      ,'altitude','timezone','dst', 'tz_timezone']
route_fieldnames = ['airline','airline_id','source_airport','source_airport_id','destination_airport','destination_airport_id',
                     'codeshare','stops','equipment']

In [26]:
route

       2B    410  AER  2965  KZN  2990 Unnamed: 6  0  CR2
0      2B    410  ASF  2966  KZN  2990        NaN  0  CR2
1      2B    410  ASF  2966  MRV  2962        NaN  0  CR2
2      2B    410  CEK  2968  KZN  2990        NaN  0  CR2
3      2B    410  CEK  2968  OVB  4078        NaN  0  CR2
4      2B    410  DME  4029  KZN  2990        NaN  0  CR2
5      2B    410  DME  4029  NBC  6969        NaN  0  CR2
6      2B    410  DME  4029  TGK    \N        NaN  0  CR2
7      2B    410  DME  4029  UUA  6160        NaN  0  CR2
8      2B    410  EGO  6156  KGD  2952        NaN  0  CR2
9      2B    410  EGO  6156  KZN  2990        NaN  0  CR2
10     2B    410  GYD  2922  NBC  6969        NaN  0  CR2
11     2B    410  KGD  2952  EGO  6156        NaN  0  CR2
12     2B    410  KZN  2990  AER  2965        NaN  0  CR2
13     2B    410  KZN  2990  ASF  2966        NaN  0  CR2
14     2B    410  KZN  2990  CEK  2968        NaN  0  CR2
15     2B    410  KZN  2990  DME  4029        NaN  0  CR2
16     2B    410  KZN  2990  EGO  6156        NaN  0  CR2
17     2B    410  KZN  2990  LED  2948        NaN  0  CR2
18     2B    410  KZN  2990  SVX  2975        NaN  0  CR2
19     2B    410  LED  2948  KZN  2990        NaN  0  CR2
20     2B    410  LED  2948  NBC  6969        NaN  0  CR2
21     2B    410  LED  2948  UUA  6160        NaN  0  CR2
22     2B    410  MRV  2962  ASF  2966        NaN  0  CR2
23     2B    410  NBC  6969  DME  4029        NaN  0  CR2
24     2B    410  NBC  6969  GYD  2922        NaN  0  CR2
25     2B    410  NBC  6969  LED  2948        NaN  0  CR2
26     2B    410  NBC  6969  SVX  2975        NaN  0  CR2
27     2B    410  NJC  2972  SVX  2975        NaN  0  CR2
28     2B    410  NJC  2972  UUA  6160        NaN  0  CR2
29     2B    410  NUX  4364  SVX  2975        NaN  0  CR2
...    ..    ...  ...   ...  ...   ...        ... ..  ...
67632  ZL   4178  SYD  3361  ABX  3333        NaN  0  SF3
67633  ZL   4178  SYD  3361  ARM  4062        NaN  0  SF3
67634  ZL   4178  SYD  3361  BHQ  6241        NaN  0  SF3
67635  ZL   4178  SYD  3361  BHS  6249        NaN  0  SF3
67636  ZL   4178  SYD  3361  BNK  4291        NaN  0  SF3
67637  ZL   4178  SYD  3361  DBO  3358        NaN  0  SF3
67638  ZL   4178  SYD  3361  GFF  6271        NaN  0  SF3
67639  ZL   4178  SYD  3361  LSY  6287        NaN  0  SF3
67640  ZL   4178  SYD  3361  MIM  6294        NaN  0  SF3
67641  ZL   4178  SYD  3361  MQL  6298        NaN  0  SF3
67642  ZL   4178  SYD  3361  MYA  6302        NaN  0  SF3
67643  ZL   4178  SYD  3361  NRA  6307        NaN  0  SF3
67644  ZL   4178  SYD  3361  NTL  4320        NaN  0  SF3
67645  ZL   4178  SYD  3361  OAG  6793        NaN  0  SF3
67646  ZL   4178  SYD  3361  PKE  6317        NaN  0  SF3
67647  ZL   4178  SYD  3361  TRO  6794        NaN  0  SF3
67648  ZL   4178  SYD  3361  WGA  3363        NaN  0  SF3
67649  ZL   4178  TRO  6794  GFN  6792        NaN  0  SF3
67650  ZL   4178  TRO  6794  SYD  3361        NaN  0  SF3
67651  ZL   4178  TSV  3330  ISA  3324        NaN  0  SF3
67652  ZL   4178  TSV  3330  WIN  6337        NaN  0  SF3
67653  ZL   4178  WGA  3363  MEL  3339        NaN  0  SF3
67654  ZL   4178  WGA  3363  SYD  3361        NaN  0  SF3
67655  ZL   4178  WIN  6337  LRE  6289        NaN  0  SF3
67656  ZL   4178  WIN  6337  TSV  3330        NaN  0  SF3
67657  ZL   4178  WYA  6334  ADL  3341        NaN  0  SF3
67658  ZM  19016  DME  4029  FRU  2912        NaN  0  734
67659  ZM  19016  FRU  2912  DME  4029        NaN  0  734
67660  ZM  19016  FRU  2912  OSS  2913        NaN  0  734
67661  ZM  19016  OSS  2913  FRU  2912        NaN  0  734

[67662 rows x 9 columns]